{% extends "base.html" %}
{% load static %}

{% block title %}نمایه{% endblock %}

{% block search %}{% endblock %}

{% block body %}
    <div style="text-align: center">
        <button style="width: fit-content;padding: 0;margin: 0 auto" class="dropbtn fa">
            <img src="https://ui-avatars.com/api/?name={{ request.user.username }}&size=80">
        </button>
        <h1 style="margin-top: 10px;margin-bottom: -5px;font-size: 1.5rem">{{ request.user.username }}</h1>
        <small style="color: hsl(var(--hsl))">خوش آمدید</small>
        <p style="margin-bottom: 30px">
            در بخش نمایه می‌توانید خلاصه‌ای از اطلاعات حساب، آمار فعالیت‌ها و پیشنهادهای شخصی‌سازی‌شده خود را مشاهده و
            مدیریت کنید.
        </p>
    </div>
    <div id="stats_bar">
        <div class="card no_hover" r>
            <div class="block">
                <h1></h1>
                <b>تعداد کل بازدید ها</b>
            </div>
        </div>
        <div class="card no_hover" r>
            <div class="block">
                <h1></h1>
                <b>تعداد کل لایک ها</b>
            </div>
        </div>
        <div class="card no_hover" r>
            <div class="block">
                <h1></h1>
                <b>تعداد فید های دنبال شده</b>
            </div>
        </div>
    </div>
    <ul class="ui_list">
        <li r>
        </li>
    </ul>
    <div id="overlay" class="hidden"></div>
    <div id="popupDialog" class="hidden">
        <p>
            آیا مطمئنید میخواهید اطلاعات مربوط به اخبار دیده شده را پاک کنید؟
        </p>
        <button onclick="deleteFeed('yes')">
            بله
        </button>
        <button onclick="deleteFeed('no')">
            خیر
        </button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function openFn() {
            const over =
                document.getElementById(
                    "overlay"
                );
            const popDialog =
                document.getElementById(
                    "popupDialog"
                );
            over.classList.toggle("hidden");
            popDialog.classList.toggle(
                "hidden"
            );
            popDialog.style.opacity =
                popDialog.style.opacity ===
                "1"
                    ? "0"
                    : "1";

        }

        function deleteFeed(stat) {
            openFn()
            if (stat == "yes") {
                document.location.href = '/accounts/deleteFeed';
            }
        }
    </script>
    <script>
        function copy(token) {
            let s = `<iframe src="https://hodkhan.ir/iframe/${token}"></iframe>`
            navigator.clipboard.writeText(s);
        }
    </script>
{% endblock %}