{% extends "base.html" %}
{% load static %}

{% block title %}نمایه{% endblock %}

{% block search %}{% endblock %}

{% block body %}
    <div style="text-align: center">
        <button style="width: fit-content;padding: 0;margin: 0 auto" class="dropbtn fa">
            <img src="https://ui-avatars.com/api/?name={{ request.user.username }}&size=80">
        </button>
        <h1 style="margin-top: 10px;margin-bottom: -5px;font-size: 1.5rem">{{ request.user.username }}</h1>
        <small style="color: hsl(var(--hsl))">خوش آمدید</small>
        <p style="margin-bottom: 30px">
            در بخش نمایه می‌توانید خلاصه‌ای از اطلاعات حساب، آمار فعالیت‌ها و پیشنهادهای شخصی‌سازی‌شده خود را مشاهده و
            مدیریت کنید.
        </p>
    </div>
    <div id="stats_bar">
        <div class="card no_hover" r>
            <div class="block">
                <b>کل بازدید ها</b>
                <h1>{{viewed}}</h1>
            </div>
        </div>
        <div class="card no_hover" r>
            <div class="block">
                <b>کل لایک ها</b>
                <h1>{{liked}}</h1>
            </div>
        </div>
        <div class="card no_hover" r>
            <div class="block">
                <b>فیدهای دنبال‌شده</b>
                <h1>{{followed_feeds}}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}