{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if query %}
        جستجو برای "{{ query }}" &ndash; هدخوان
    {% else %}
        اخبار &ndash; هدخوان
    {% endif %}
{% endblock %}

{% block header %}
    <meta name="description"
          content="{% if query %}نتایج جستجو برای {{ query }}{% else %}لیست اخبار{% endif %} در هدخوان">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container {
            max-width: 1500px;
        }
    </style>
{% endblock %}

{% block body %}
    {% if query %}
        <h3>نتایج جستجو برای "{{ query }}"</h3>
        <p>{{ count }} نتیجه یافت شد</p>
    {% endif %}
    <div id="articleGrid" style="padding-top: 20px">
        {% for article in articles %}
            <div class="card article" r>
                <a href="/article/{{ article.id }}" target="_blank">
                    <div class="article_info card_info block">
                        <div class="article_feed">
                            <img class="article_feed_favicon" src="{{ article.feed.favicon }}">
                            <h5 class="article_feed_name">{{ article.feed.name }}</h5>
                        </div>
                        <div class="whitespace"></div>
                        <h5 class="article_pub">{{ article.published }}</h5>
                    </div>
                    <img class="card_cover" src="{{ article.image }}" alt="{{ article.title }}">
                    <div class="card_content container block">
                        <h2 class="article_title">{{ article.title }}؛</h2>
                        <p class="article_abstract">
                            {{ article.abstract }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

