{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="article">
        <div class="article_feed">
            <a href="/feed/{{ article.feed.id }}" style="display: flex;gap: 7px ">
                <img class="article_feed_favicon" src="{{ article.feed.favicon }}">
                <h5 class="article_feed_name">{{ article.feed.name }}</h5>
            </a>
            <div class="whitespace"></div>
            <button class="article_feed_follow">دنبال کردن</button>
        </div>
        <div class="article_caption">
            <a href="/article/{{ article.id }}">
                <h3 class="article_title">{{ article.title }}؛</h3>
                {{ article.abstract }}
            </a>
        </div>
    </div>
    <div id="article_content">
        {{ article.html|safe }}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.querySelector('.stars').addEventListener('click', function (event) {
            if (event.target.classList.contains('star')) {
                const articleId = this.dataset.articleId;
                const rating = event.target.dataset.rating;
                console.log(`Article ID: ${articleId}, New Rating: ${rating}`);
                $.ajax({
                    type: "GET",
                    url: '/articleRating',
                    data: {
                        "result": {"n": rating, "id": {{article.id}}},
                    },
                    dataType: "json",
                });
                // Update the stars visually
                const stars = this.children;
                Array.from(stars).forEach((star, index) => {
                    star.textContent = index < rating ? '★' : '☆';
                });
            }
        });
    </script>
{% endblock %}