{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}
{% block body %}
    <article class="article">
        <div id="article_head">
            <a href="/article/{{ article.id }}" target="_blank">
                <div class="article_info card_info">
                    <div class="article_feed">
                        <img class="article_feed_favicon" src="{{ article.feed.favicon }}">
                        <h5 class="article_feed_name">{{ article.feed.name }}</h5>
                    </div>
                    <div class="whitespace"></div>
                    <h5 class="article_pub">{{ article.published }}</h5>
                </div>
                <div class="card_content container" style="padding-top: 25px;padding-bottom: 5px">
                    <h2 class="article_title">{{ article.title }}؛</h2>
                    <p class="article_abstract">
                        {{ article.abstract }}
                    </p>
                </div>
            </a>
        </div>
        <div id="article_content">
            {{ article.html|safe }}
        </div>
        <ul class="ui_list" style="padding-bottom: 100px!important;">
            <li r onclick="followFeed({{ article.feed.id }})">
                <i class="fa fa-plus-circle"></i>
                دنبال کردن این منبع
            </li>
            <li r>
                <i class="fa fa-share"></i>
                اشتراک گذاری
            </li>
            <li r>
                <i class="fa fa-flag"></i>
                ثبت گزارش برای این مطلب
            </li>
        </ul>
        {% if user.is_authenticated %}
            <button class="fa" id="like_btn"
                    onclick="likeArticle('{{ article.id }}',el);">
                <img src="https://em-content.zobj.net/source/apple/81/heavy-black-heart_2764.png">
            </button>
        {% endif %}
    </article>
{% endblock %}

{% block scripts %}
    <script>
        function likeArticle(id, el) {
            $.ajax({
                type: "GET",
                url: '/api/interaction',
                data: {
                    "result": {"type": "like", "article": id, "value": "2.5"},
                },
                dataType: "json",
            });
            el.remove();
            alert(`
            <div style="text-align: center">
            لایک با موفقیت ثبت شد
            </div>`, '3d', 3000)
        }

        function viewArticle(id, value) {
            $.ajax({
                type: "GET",
                url: '/api/interaction',
                data: {
                    "result": {"type": "view", "article": id, "value": value},
                },
                dataType: "json",
            });
        }

        for (let i = 0; i < 5; i++) {
            setTimeout(() => {
                viewArticle("{{article.id}}", 2*(i+1)/3)
            }, 10000)
        }

        function followFeed(id) {
            $.ajax({
                type: "GET",
                url: '/api/interaction',
                data: {
                    "result": {"type": "follow", "feed": id, "value": "5"},
                },
                dataType: "json",
            });
        }

    </script>
{% endblock %}