{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}
{% block main %}
    <div class="loading">
        <div class="typewriter">
            <div class="slide"><i></i></div>
            <div class="paper"></div>
            <div class="keyboard"></div>
        </div>
        <h3>در حال محاسبات روی اخبار...</h3>
    </div>
{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let articles = [];
        let i = 0;
        let eventSource = null;
        let messageCount = 0;


        function renderArticles(category = 'all') {
            const grid = document.getElementById('article');
            grid.innerHTML = '';
            articles.forEach(article => {
                if (category === 'all' || article.topic === category) {
                    grid.innerHTML += `
                    <div class="article" href="/news/${article.id}" target="_blank">
                        <a href="/article/${article.id}" style="opacity: 1!important;">
                            <img draggable="false" class="article_cover" src="${article.image}" alt="${article.title}">
                        </a>
                        <div class="article_feed">
                            <a href="/feed/${article.feed.id}" style="display: flex;gap: 7px ">
                                <img class="article_feed_favicon" src="${article.feed.favicon}">
                                <h5 class="article_feed_name">${article.feed.name}</h5>
                            </a>
                            <div class="whitespace"></div>
                            <button class="article_feed_follow">دنبال کردن</button>
                        </div>
						<div class="article_caption">
                             <a href="/article/${article.id}">
                                <h3 class="article_title">${article.title}؛</h3>
                                ${article.abstract}
                             </a>
						</div>
						<div class="con-star">
							<div class="stats">
								<span class="views"><i class="fa fa-eye"></i> ${article.views || 0}</span>
								<a href="${article.link}" target="_blank">${article.newsAgency}</a>
							</div>
							<div class="empty"></div>
							<div class="stars" data-article-id="${article.id}">
								${[1, 2, 3, 4, 5].map(star => `<span class="star" data-rating="${star}" alt="${article.stars}">${star <= article.stars ? '★' : '☆'}</span>`).join('')}
							</div>
						</div>
					</div>
				</div>
                    `
                }
                var i = 0

            });
            const button = document.createElement("button");
            button.innerHTML = 'ادامه اخبار...';
            button.style = 'grid-column: 1 / -1;';
            button.addEventListener("click", start);
            grid.appendChild(button);

        }

        function handleStarClick(event) {
            if (event.target.classList.contains('star')) {
                const articleId = event.target.closest('.stars').dataset.articleId;
                const rating = event.target.dataset.rating;
                $.ajax({
                    type: "GET",
                    url: '/newsRating',
                    data: {
                        "result": {"n": rating, "id": articleId},
                    },
                    dataType: "json",
                });
                // Update the stars visually
                const stars = event.target.closest('.stars').children;
                Array.from(stars).forEach((star, index) => {
                    star.textContent = index < rating ? '★' : '☆';
                });
            }
        }

        document.getElementById('article').addEventListener('click', handleStarClick);

        {% comment %} function start() {
            console.log(`/api/stream-articles/${i}`);
            fetch(`/api/stream-articles/{{username}}/${i}`)
            .then(response => response.json())
            .then(data => {
                console.log(data.result)
                articles = data.result
                renderArticles();
                i ++
            });
        } {% endcomment %}


        let isFetching = true;

        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY + 500 >= document.body.offsetHeight && !isFetching) {
                isFetching = true;
                start();
            }
        });

        function start() {
            fetch(`/api/feed/{{username}}/${i}`)
                .then(response => response.json())
                .then(data => {
                    if (data.result.length > 0) {
                        articles = data.result;
                        renderArticles();
                        i++;
                    }
                    isFetching = false;
                })
                .catch(() => {
                    isFetching = false;
                });
        }

        start();
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const signupConsent = document.getElementById('signup-consent');
            const exitBtn = document.getElementById('exit-signup');


            function showSignupConsent() {
                signupConsent.style.display = 'block';
            }


            function checkSignupConsent() {
                const consent = "{{user.is_authenticated}}"
                if (consent == "False") {
                    showSignupConsent();
                }
            }

            exitBtn.addEventListener('click', function () {
                signupConsent.style.display = 'none';
            });

            checkSignupConsent();
        });
    </script>
{% endblock %}