{% extends "base.html" %}
{% load static %}

{% block title %}ورود{% endblock %}

{% block header %}
    <meta name="description" content="هدخوان، خبرخوان سلیمان. ورود به سایت">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "صفحه ورود",
            "description": "برای ورود به حساب کاربری خود به این صفحه مراجعه کنید.",
            "url": "{{ request.build_absolute_uri }}",
            "potentialAction": {
                "@type": "LoginAction",
                "target": "{{ request.build_absolute_uri }}",
                "query-input": "none"
            }
        }
    </script>
{% endblock %}

{% block search %}{% endblock %}

{% block body %}
    <div class="article-content">
        <div class="card no_hover" style="background: transparent">
            <form id="loginForm" method="post" style="padding-top: 80px">
                {% csrf_token %}
                <div class="field block">
                    <h1>ورود به حساب کاربری</h1>
                    <p>برای دریافت اخبار مرتبط با سلیقه تان و دسترسی به امکانات بیشتر در هدخوان، وارد حساب کاربری خود
                        شوید
                    </p>
                </div>
                <div class="field block">
                    <label for="{{ form.username.id_for_label }}">
                        <b>نام کاربری</b>
                    </label>
                    {{ form.username }}
                </div>
                <div class="field block">
                    <label for="{{ form.password.id_for_label }}">
                        <b>رمز عبور</b>
                    </label>
                    {{ form.password }}
                </div>
                <div class="field block error">
                    {% if status != True %}
                        {{ status }}
                    {% endif %}
                </div>
                <div class="block">
                    <button type="submit">ورود به حساب</button>
                </div>
                <div class="block">
                    <div class="signup-link">
                        <p>حساب ندارید؟ <a href="/account/signup">ورود</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
  