{% extends "base.html" %}
{% load static %}

{% block title %}ساخت حساب{% endblock %}
{% block search %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card no_hover" style="background: transparent">
            <form id="signupForm" method="post">
                {% csrf_token %}
                <div class="field block">
                    <h1>ساخت حساب کاربری</h1>
                    <p>برای دریافت اخبار مرتبط با سلیقه تان و دسترسی به امکانات بیشتر در هدخوان، یک حساب کاربری
                        بسازید</p>
                </div>
                <div class="field block">
                    <label for="{{ form.username.id_for_label }}">
                        <b>نام کاربری</b>
                        <span>متشکل از حروف انگلیسی اعداد، ارقام و خط فاصله</span>
                    </label>
                    {{ form.username }}
                </div>
                <div class="field block">
                    <label for="{{ form.password1.id_for_label }}">
                        <b>رمز عبور</b>
                        <span>یک رمز عبور ایمن و قوی انتخاب کنید</span>
                    </label>
                    {{ form.password1 }}
                </div>
                <div class="field block">
                    <label for="{{ form.password2.id_for_label }}">
                        <b>تکرار رمز عبور</b>
                    </label>
                    {{ form.password2 }}
                </div>
                <div class="field block error">
                    {% if status != True %}
                        {{ status }}
                    {% endif %}
                </div>
                <div class="block">
                    <button type="submit">ساخت حساب</button>
                </div>
                <div class="block">
                    <div class="signup-link">
                        <p>از قبل حساب دارید؟ <a href="/account/login">ورود</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
  